.container {
    display: inline-block;
    position: absolute;
    left: 265px;
    top: 73px;
}

/* .button {
    background-color: midnightblue;
    border: none;
} */

@media only screen and (min-width: 640px) {
  .container {
    display: none;
  }

}
