.flexContainer {
  display: inline-flex;
  top: 114.5px;
  height: 50px;
  width: 100%;
  position: absolute;
  background-color: red;
  justify-content: right;
  z-index: -4;

}

.flexContainer button {
  background-color: white;
  display: flex;
  width: 216px;
  margin: 1.32px;
  height: 48px;
  text-align: center;
  left: 0px;
  border: none;
  justify-content: space-around;

  line-height: 48px;
  font-size: 14px;
  z-index: -3;
}


.dropdownAccounts {
    position: relative;
    display: inline-block;
    height: 10px;
    margin-right: 0px;
    margin-top: 0px;

}


.dropdownAccountsContent {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    margin-left: 0px;
    min-width: 218px;
    font-size: 15px;
    text-align: left;
    text-decoration-color: blue;
    text-indent: 1.5rem;
    line-height: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownAccountsContent a {
    color: black;
    padding: 12px 1px;
    text-decoration: none;
    display: block;
}

.dropdownAccountsContent a:hover {
  background-color: #ddd;
}


.dropdownBestLoansandMortgages {
    position: relative;
    display: inline-block;
    height: 10px;
    margin-right: 0px;
    margin-top: 0px;

}


.dropdownBestLoansandMortgagesContent {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    margin-left: -20px;
    min-width: 255px;
    font-size: 15px;
    text-align: left;
    text-decoration-color: blue;
    text-indent: 0.3rem;
    line-height: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownBestLoansandMortgagesContent a {
    color: black;
    padding: 12px 1px;
    text-decoration: none;
    display: block;
}

.dropdownBestLoansandMortgagesContent a:hover {
  background-color: #ddd;
}





.dropdownAccounts:hover .dropdownAccountsContent {display: block;}

.dropdownAccounts:hover .accountButton {background-color: #b8860b;}

.dropdownBestLoansandMortgages:hover .dropdownBestLoansandMortgagesContent {display: block;}

.dropdownBestLoansandMortgages:hover .accountButton {background-color: #b8860b;}
