.parallelogram {
      display: none;
     width: 190px;
     height: 32px;
     transform: skew(-20deg);
     background: #b8860b;
     border: none;
     position: absolute;
     margin-left: 1070px;
     margin-top: 20px;
     z-index: -8;

   }

   .parallelogram:hover {
        display: none;
        width: 190px;
        height: 32px;
        cursor: pointer;
        background-color: #801a1110;
        position: absolute;
        margin-left: 800px;
        margin-top: 20px;
      }

@media only screen and (min-width: 992px) {
  .parallelogram {
        display: block;
  }

  .parallelogram:hover {
        display: block;
  }
}
