.container {
  display: none;
  top: 475px;
  height: 495px;
  width: 100%;
  flex-grow: 3;
  justify-content: space-between;
  position: absolute;
  background-color: lightgrey;
  z-index: -1;

}

@media only screen and (min-width: 640px) {
  .container {
    display: flex;
  }
}
