.parallelogram {
  position:relative;
  top: 18px;
right: -300px;
width: 301px;
height: 28px;
border-top-right-radius: 5px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 5px;
border-top-left-radius: 3px;
-webkit-transform: skew(-20deg);
   -moz-transform: skew(-20deg);
     -o-transform: skew(-20deg);
background: white;
z-index: -10;
}
