.parallelogram {
  position: absolute;
  top: 18px;
  left: 74px;
width: 31.6%;
height: 30.5px;
-webkit-transform: skew(-20deg);
   -moz-transform: skew(-20deg);
     -o-transform: skew(-20deg);
background: white;
z-index: -10;
}
