.searchBar {
  position: absolute;
  top: 114px;

  bottom: 50px;
  background-color: midnightblue;
  border: none;
  height: 60px;
  width: 100%;
  z-index: -11;

}


.Open {
    display: block;
}

.Close {
    display: none;
}
