.internetBanking {
  display: none;
position: absolute;
margin-left: 1110px;
margin-top: 28px;
color: black;
font-size: 90px;
z-index: -7;
font-size: 14px;

}



@media only screen and (min-width: 992px) {
  .internetBanking {
display: block;
       border: none;
       z-index: -7;


     }



      }
