.Appbar {
  position: fixed;
  background-color: #b8860b;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 45px;
  width: 35%;
  z-index: -5;
}

@media only screen and (min-width: 640px) {
  .Appbar {
    display: flex;
    position: absolute;
    background-color: #b8860b;
    margin-left: 0px;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 45px;
    width: 100%;
    z-index: -10;
  }
}
